Repository vinaysharma14/the-seasoned-dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx}": ["eslint --fix"],
  "src/**/*.{json,css,scss}": ["prettier --write"]
}

chore: removed react imports
  .eslintrc
  src/App/index.tsx
  src/fallbacks/Suspense/index.tsx
  src/index.tsx
  src/routes/Home/index.tsx
  src/routes/NotFound/index.tsx
  src/routes/index.tsx
Due: eslint --fix

chore: en locale prettified post extraction
  package.json
Due: none

chore: prettier write option aliased in lint-staged config
  .lintstagedrc.json
Due: none

chore: removed unused locales
  src/config/locales.ts
  src/locales/da.json
  src/locales/de.json
  src/locales/index.ts
  src/locales/nl.json
Due: eslint --fix, prettier --write

fix: flicker of suspense fallback
  src/routes/index.tsx
  src/utils/helpers.ts
  src/utils/index.ts
Due: eslint --fix

feature: suspense fallback designd with text animation
  src/fallbacks/Suspense/index.tsx
  src/fallbacks/Suspense/styles.scss
  src/hooks/index.ts
  src/hooks/theme.ts
  src/theme/_fonts.scss
  src/theme/_styles.scss
  src/theme/_variables.scss
  src/utils/helpers.ts
Due: eslint --fix, prettier --write

feature: added theme icon
  src/assets/icons/contrast.svg
  src/assets/icons/index.ts
  src/fallbacks/Suspense/index.tsx
  src/fallbacks/Suspense/styles.scss
  src/theme/_styles.scss
Due: eslint --fix, prettier --write

feature: theme toggle in suspense fallback
  src/fallbacks/Suspense/index.tsx
  src/theme/_styles.scss
Due: eslint --fix, prettier --write

feature: theme cached and rehydrated
  src/fallbacks/Suspense/index.tsx
  src/routes/index.tsx
  src/store/features/ui/index.ts
  src/utils/constants.ts
  src/utils/index.ts
Due: eslint --fix

feature: suspense fallback translated
  src/App/index.tsx
  src/fallbacks/Suspense/index.tsx
  src/fallbacks/Suspense/messages.ts
  src/locales/en.json
  src/locales/fr.json
  src/routes/index.tsx
Due: eslint --fix, prettier --write

feature: language cached and rehydrated
  src/assets/icons/index.ts
  src/assets/icons/language.svg
  src/fallbacks/Suspense/index.tsx
  src/fallbacks/Suspense/styles.scss
  src/store/features/ui/index.ts
Due: eslint --fix, prettier --write

chore: ui slice moved to file and rehydrateUI thunk refactored
  src/store/features/ui.ts
Due: eslint --fix

chore: icon size decreased below md breakpoint
  src/theme/_styles.scss
Due: prettier --write

chore: mixin written for responsive suspense fallback animation
  src/fallbacks/Suspense/styles.scss
Due: prettier --write

chore: set prettier print width to 100
  .prettierrc
  src/fallbacks/Suspense/styles.scss
  src/index.scss
  src/theme/_variables.scss
Due: prettier --write

fix: generate-locales script
  .gitignore
  package.json
  src/scripts/generate-locales.ts
Due: eslint --fix

feature: added app container
  src/App/index.tsx
  src/App/styles.scss
  src/routes/Home/index.tsx
Due: eslint --fix, prettier --write

feature: added theme color to body
  public/index.html
  src/hooks/theme.ts
Due: eslint --fix

feature: designed header
  src/App/components/Header/index.tsx
  src/App/components/Header/styles.scss
  src/App/components/index.ts
  src/App/index.tsx
  src/App/messages.ts
  src/App/styles.scss
  src/fallbacks/Suspense/index.tsx
  src/fallbacks/Suspense/styles.scss
  src/locales/en.json
  src/locales/fr.json
  src/theme/_styles.scss
Due: eslint --fix, prettier --write

chore: header animation with keyframes
  src/App/components/Header/index.tsx
  src/App/components/Header/styles.scss
Due: eslint --fix, prettier --write

feature: header made responsive
  public/index.html
  src/App/components/Header/index.tsx
  src/App/components/Header/styles.scss
  src/App/components/Preferences/index.tsx
  src/App/components/Preferences/styles.scss
  src/App/components/index.ts
  src/App/index.tsx
  src/assets/icons/close.svg
  src/assets/icons/index.ts
  src/assets/icons/options.svg
  src/store/features/ui.ts
  src/theme/_mixins.scss
  src/theme/_styles.scss
Due: eslint --fix, prettier --write

chore: staggered animation with 0.1 delay
  src/App/components/Header/styles.scss
  src/App/components/Preferences/styles.scss
Due: prettier --write

fix: preferences container transparency
  src/App/components/Preferences/index.tsx
  src/App/components/Preferences/styles.scss
  src/theme/_mixins.scss
Due: eslint --fix, prettier --write

chore: decreased header font size
  src/App/components/Header/index.tsx
  src/App/components/Header/styles.scss
  src/App/components/Preferences/index.tsx
Due: eslint --fix, prettier --write

feature: margin bottom added to header
  src/App/components/Header/styles.scss
  src/fallbacks/Suspense/styles.scss
  src/theme/_styles.scss
Due: prettier --write

fix: glob put in quotes in extract messages script
  package.json
Due: none

feature: selection selector as per theme
  src/theme/_styles.scss
Due: prettier --write

feature: link component designed
  src/components/Link.ts
  src/components/index.tsx
Due: eslint --fix
